<h2>Data</h2>

<h3><code class="inline-code">setData</code></h3>

{{code-snippet name="learn--director--data--setData--yuidoc.js"}}

<p>You'll often want to remember what choices the player made. You can commit data to the game's memory, which will persist between scenes and reloads. You can pass in any arbitrary information you consider valuable, from player stats to meta-data about the play session.</p>

{{code-snippet name="learn--director--data--setData--example.js"}}

<h3><code class="inline-code">getData</code></h3>

{{code-snippet name="learn--director--data--getData--yuidoc.js"}}

<p>After saving data, you can look it up again with <code class="inline-code">getData</code>:</p>

{{code-snippet name="learn--director--data--getData--example.js"}}

<h3><code class="inline-code">deleteData</code></h3>

{{code-snippet name="learn--director--data--deleteData--yuidoc.js"}}

<p>After saving data, you can optionally remove it with <code class="inline-code">deleteData</code>:</p>

{{code-snippet name="learn--director--data--deleteData--example.js"}}
